body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  
}

a {
  text-decoration: none;
}

nav {
  background-color: red;
  color: white;
  font-size: 46px;
  font-weight: 200;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.navbar-list {
  display: inline;
}

.navbar-list a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

.navbar-list a:hover {
  background-color: #444;
}

.store {
	float: left;
}

.logOut{
	float: right;
}

.signIn{
	float: right;
}

.username{
	float: right;
}


main {
  display: block;
  padding: 20px 20px 100px 20px;
  min-height: 300px;
}

.awning{
	height: 250px;
}

.storefront{
	border-color: black;
	border-width: 5px;
	display: block;
	padding: 20px 20px 100px 20px;
	width: 50%;
	margin: 0 auto;
}

.pets{
	display: flex;
	flex-wrap: wrap;
	background-color: blue;
	width: 800px;
	margin: 0 auto;
}

.options {
  background-color: #fffe6e;
  position: relative;
  width: 300px;
  min-height: 300px;
  margin: 20px;
  font-size: 24px;
  font-weight: 200;
  word-wrap: break-word;
}

.storefront_footer{
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
  width: 50%;
  margin: 0 auto;
  background-color: grey;
}

button{
	width = 50px;
	height = 50px;
}



