html {
  height: 100%;
  width: 100%
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2em;
  margin-top: 15px;
  padding: 10px;
}

h1 {
}

.content {
  background-image: url("photos/petHomePage.jpg");
  height: 100%;
  margin: 0;
  padding: 0;
}

#contentOne {
  width: 50%;
  float: left;
}

#contentTwo {
  margin-left: 50%;
}

main {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.login-credentials {
  text-align: center;
}

.input-element {
  text-shadow:
  -1px -1px 0 #FFFFFF,
   0px -1px 0 #FFFFFF,
   1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
   0px 1px 0 #FFFFFF,
   1px 1px 0 #FFFFFF;
}

.create-account {
  text-shadow:
  -1px -1px 0 #FFFFFF,
   0px -1px 0 #FFFFFF,
   1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
   0px 1px 0 #FFFFFF,
   1px 1px 0 #FFFFFF;
}

h2 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

h3 {
  margin: 0;
  padding: 10px;
  
}

h4 {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

.login-button {
  box-shadow: 2px 2px 5px rgba(189,189,189,1);
  height: 40px;
  width: 80px;
  color: white;
  background-color: grey;
  border-radius: 10%;
  margin: 40px;
  padding: 0;
  position: relative;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-button:hover {
  box-shadow: 5px 5px 10px rgba(189,189,189,1);
  cursor: pointer;
}

footer {
  margin: 0;
  padding: 0;
}

