html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

.petPet-logo {
	width: 180px;
	height: 180px;
	position: relative;
	left: 45%;
	margin-bottom: -180px;
	background-image: url("photos/PetPet_logo_sm.png");
	box-shadow: 0px 4px 0px rgba(189,189,189,1);
	background-color: white;
	border-radius: 93px;
}

header {
	border-style: solid;
	border-width: 5px;
	height: 100px;
	width: 100%;
}

nav {
	background: red;
	background: -webkit-linear-gradient(left top, red, rgb(186,56,53)); /*Safari*/
	background: -o-linear-gradient(bottom right, red, rgb(186,56,53)); /*Opera*/
	background: -moz-linear-gradient(bottom right, red, rgb(186,56,53)); /*Firfox*/
	background: linear-gradient(to bottom right, red, rgb(186,56,53)); /*Standard*/
	color: white;
	height: 100%;
	font-size: 46px;
	font-weight: 200;
}

a {
	text-decoration: none;
}

.navbar-list {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar-list a {
	display: inline-block;
	color: white;
	padding: 10px 30px;
}

.navbar-list a:hover {
	background-color: #444;
}

.navbar-item {
	float: left;
}

.navbar-item-right {
	float: right;
}

main {
	height: 100%;
}

.leftbar {
	display: inline-block;
	position: absolute;
	margin: 0px 50px 0px 0px;
	border-style: solid;
	border-width: 10px;
	background-color: rgb(17,188,154);
    width: 15%;
    height: 100%;
    float:left;
}

.rightbar {
	display: inline-block;
	position: absolute;
	margin: 0px 0px 0px 0px;
	border-style: solid;
	border-width: 10px;
	background-color: rgb(17,188,154);
    width: 15%;
    height: 100%;
    right: 0%;
}

.petArea {
	height: 100%;
	width: 68%;
	margin-left: 16%;
	background-image: url("photos/interior.jpg");
	display: inline-block;
}

.pettingStats {
	position: absolute;
	box-shadow: 4px 4px 7px rgba(189,189,189,1);
	height: 90px;
	width: 200px;
	background-color: white;
	border-radius: 10%;
	text-align: center;
	left: 20%;
	top: 20%;
}

.pettingStats div p{
	display: inline;
	color: black;
}

#petNameDisplay {
	position: absolute;
	color: black;
	font-size: 3em;
	top: 30%;
	left: 50%;
	transform: translate(-50%, 0);
}

#thePet {
	position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-150px, -150px);
}

#hitboxContainer {
	width: 300px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
	flex-direciton: row;
	flex-wrap: wrap;
}

.hitbox {
	display: inline-block;
	position: relative;
	height: 152px;
	width: 304px;
	bottom: 304px;
}


.hitboxVis {
	border-style: dashed;
	border-width: 1px;
	margin: -1px;
}

#petDescription {
	position: absolute;
	color: black;
	font-size: 1.5em;
	top: 110%;
	left: 50%;
	transform: translate(-50%, 0);
}





