.box{
	background-color: rgba(152, 236, 220, 0.93);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    width: 600px;
    margin: auto;
    margin-top: 60px;
}

.username{
	display: flex;
    flex-wrap: wrap;
	margin-top: 100px;
}

.email{
	display: flex;
    flex-wrap: wrap;
}

.password{
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 100px;
}

.standard{
	position: relative;
    margin-left: auto;
}

.userData{
	position: relative;
    margin-right: auto;
	margin-left: 20px;
}